p {
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#fontFamily{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align:center;
    font-family:fantasy;
    color:blueviolet;
    text-decoration:underline;
}

#bgcolour{
    background-color: plum;
}

img{
    margin:auto;
}

body{
    background-color:cadetblue;
}